// fonts
$sf: 'SF Pro Display';
$inter: 'Inter';

//colors
$borderColor: #EAEAEA;
$headerFontColor: #081531;
$blueHeaderColor: #4640DE;
$placeholderColor: #646464;
$sortColor: #646464;
$selectedSortColor: #4640DE;
$progressBarBg: #D2D2D2;
$progressBarValue: #4640DE;
$croundColor: #081531;
$croundPalace: #969696;
$filterColor: #081531;
$selectedFilterColor: #4640DE;
$selectColor: #646464;
$optionsItemColor: #171F2E;
